<nav>
	<!-- 引入外部 css 文件 -->
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
	<!-- 网站图标-->
	<link rel="icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
	<div id=main_head_title>
	<!-- 罗列标题 -->
	{% for item in site.data.navigation %}
	<!-- <a id=main_head_font href="{{item.link}}" {% if page.url == item.link %} {% endif %}>{{item.name}}</a> -->
	<a id=main_head_links href="{{item.link}}" {% if page.url == item.link %} {% endif %}>
		{{item.name}}
	</a>
	{% endfor %}
	</div>
</nav>
